@model Entity.GuarderiaEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Guarderia" : "Nueva Guarderia")</h4>

                    <form action="/Guarderia/Save" method="post">
                        <input type="hidden" name="IdGuarderia" id="IdGuarderia" value="@Model.IdGuarderia" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombreGuarderia" id="NombreGuarderia" value="@Model.NombreGuarderia" required/>
                            <label for="NombreGuarderia"> Nombre Guarderia </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" name="DiaDeLaSemanaGuarderia" id="DiaDeLaSemanaGuarderia" value="@Model.NombreGuarderia" required/>
                            <label for="DiaDeLaSemanaGuarderia"> Dia De La Semana </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="time" name="HoraDeComienzoGuarderia" id="HoraDeComienzoGuarderia" value="@Model.HoraDeComienzoGuarderia" required/>
                            <label for="HoraDeComienzoGuarderia"> Seleccione La Hora </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="ProfesorResponsableGuarderia" id="ProfesorResponsableGuarderia" value="@Model.ProfesorResponsableGuarderia" required/>
                            <label for="ProfesorResponsableGuarderia"> Profesor Responsable </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>