@model List<Entity.GuarderiaEntity>

@if (ViewData.ContainsKey("msg"))
{
    <script>
        alert("@ViewData["msg"]");
    </script>
}

<div class="container-fluid">
    <br />
    <h1>Guarderia</h1>
    <br />
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-5">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre Guarderia</th>
                        <th>Dia De La Semana</th>
                        <th>Hora De Inicio</th>
                        <th>Profesor Responsable</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NombreGuarderia</td>
                            <td>@item.DiaDeLaSemanaGuarderia</td>
                            <td>@item.HoraDeComienzoGuarderia</td>
                            <td>@item.ProfesorResponsableGuarderia</td>

                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdGuarderia)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdGuarderia)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts{

    <script>
        var ClickNew = function () {
            window.location.href = "Guarderia/Edit";
        }

        var ClickUpdate = function (id) {
            window.location.href = "Guarderia/Edit/" + id;
        }

        var ClickEliminar = function (id) {

            var result = confirm("Esta Seguro que desea eliminar este registro?");

            if (result) window.location.href = "Guarderia/Delete/" + id;

        }
    </script>


}