@model List<Entity.EmpleadoInformacionAdministrativaEntity>

@if (ViewData.ContainsKey("msg"))
{
    <script>
        alert("@ViewData["msg"]");
    </script>
}

<div class="container-fluid">
    <br />
    <h1>Empleado Informacion Administrativa</h1>
    <br />
    <div class="row">

        <div class="col-7">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-7">
            <table id="GridEmpleadoInformacionAdministrativa" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>NumeroSeguroSocial</th>
                        <th>CuentaBanco</th>
                        <th>RetencionCCSS</th>
                        <th>GeneracionDePagos</th>
                        <th>CategoriaProfesional</th>
                        <th>AsignarActividades</th>
                        <th>AsignacionGuarderias</th>
                        <th>Accion</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NumeroSeguroSocial</td>
                            <td>@item.CuentaBanco</td>
                            <td>@item.RetencionCCSS</td>
                            <td>@item.GeneracionDePagos</td>
                            <td>@item.CategoriaProfesional</td>
                            <td>@item.AsignarActividades</td>
                            <td>@item.AsignarGuarderias</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdEmpleadoInformacionAdministrativa)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdEmpleadoInformacionAdministrativa)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var ClickNew = function () {
            window.location.href = "EmpleadoInformacionAdministrativa/Edit";
        }

        var ClickUpdate = function (id) {
            window.location.href = "EmpleadoInformacionAdministrativa/Edit/" + id;
        }

        var ClickEliminar = function (id) {

            var result = confirm("Esta Seguro que desea eliminar este registro?");

            if (result) window.location.href = "EmpleadoInformacionAdministrativa/Delete/" + id;

        }
    </script>


}
