@model Entity.ActividadesEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Actividades" : "Nuevo Actividades")</h4>

                    <form action="/Actividades/Save" method="post">
                        <input type="hidden" name="IdActividades" id="IdActividades" value="@Model.IdActividades" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombreActividad" id="NombreActividad" value="@Model.NombreActividad" />
                            <label for="NombreActividad"> Nombre Actividad </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Descripcion" id="Descripcion" value="@Model.Descripcion" />
                            <label for="Descripcion"> Descripcion </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Salas" id="Salas" value="@Model.Salas" />
                            <label for="Salas"> Salas </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}

                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
