@model List<Entity.ActividadesEntity>

@if (ViewData.ContainsKey("msg"))
{
    <script>
        alert("@ViewData["msg"]");
    </script>
}

<div class="container-fluid">
    <h1>Actividades</h1>
    <div class="row">

        <div class="col-7">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Actividades</th>
                        <th>NombreActividad</th>
                        <th>Descripcion</th>
                        <th>Salas</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdActividades</td>
                            <td>@item.NombreActividad</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Salas</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdActividades)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdActividades)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{

    <script>
        var ClickNew = function () {
            window.location.href = "Actividades/Edit";
        }

        var ClickUpdate = function (id) {
            window.location.href = "Actividades/Edit/" + id;
        }

        var ClickEliminar = function (id) {

            var result = confirm("Esta Seguro que desea eliminar este registro?");

            if (result) window.location.href = "Actividades/Delete/" + id;

        }
    </script>
}