@model List<Entity.ProductosEntity>

<div class="container-fluid">
    <br />
    <h1>Productos</h1>
    <br />
    <div class="row">
        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <table id="GridProducto" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre Productos</th>
                        <th>Sesiones Rayos UVA</th>
                        <th>Renovacion Cuota</th>
                        <th>Productos Consumidos</th>
                        <th>Nombre Proveedores</th>
                        <th>Estado de Productos</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NombreProductos</td>
                            <td>@item.SesionesRayosUVA</td>
                            <td>@item.RenovacionCuota</td>
                            <td>@item.ProductosConsumidos</td>
                            <td>@item.Proveedores.NombreProveedores</td>
                            <td>@(item.EstadoProducto ? "Activo" : "Inactivo")</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdProductos)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdProductos)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">
</div>

@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
<script>
    Swal.fire(
        'Eliminado!',
        'Su registro a sido Eliminado.',
        'success'
    );
    var IsLoading = false;
</script> }
                else
                {
<script>
    var IsLoading = true;
</script>}

    <script src="~/Scripts/Productos/Index.js"></script>
}