@model Entity.TarifasEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Tarifas" : "Nuevo Tarifas")</h4>

                    <form action="/Tarifas/Save" method="post">
                        <input type="hidden" name="IdTarifa" id="IdTarifa" value="@Model.IdTarifa" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Tarifas" id="Tarifas" value="@Model.Tarifas" />
                            <label for="Tarifas"> Tarifas </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Ofertas" id="Ofertas" value="@Model.Ofertas" />
                            <label for="Ofertas"> Ofertas </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="MesesDuracion" id="MesesDuracion" value="@Model.MesesDuracion" />
                            <label for="MesesDuracion"> MesesDuracion </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="InclusionBebes" id="InclusionBebes" value="@Model.InclusionBebes" />
                            <label for="InclusionBebes"> Inclusion Bebes </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="PrecioTarifa" id="PrecioTarifa" value="@Model.PrecioTarifa" />
                            <label for="PrecioTarifa"> Precio Tarifa </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>