@model List<Entity.TarifasEntity>

@if (ViewData.ContainsKey("msg"))
{
    <script>
        alert("@ViewData["msg"]");
    </script>
}

<div class="container-fluid">
    <h1>Tarifas</h1>
    <div class="row">

        <div class="col-7">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Tarifa</th>
                        <th>Tarifas </th>
                        <th>Ofertas </th>
                        <th>Meses Duracion</th>
                        <th>Inclusion Bebes</th>
                        <th>Precio Tarifa </th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.IdTarifa</td>
                        <td>@item.Tarifas</td>
                        <td>@item.Ofertas</td>
                        <td>@item.MesesDuracion</td>
                        <td>@item.InclusionBebes</td>
                        <td>@item.PrecioTarifa</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdTarifa)"><i class='bx bx-edit-alt'></i></button>
                            <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdTarifa)"><i class='bx bx-trash'></i></button>
                        </td>
                    </tr>
}
                </tbody>


            </table>
        </div>

    </div>

</div>

@section scripts{

    <script>
        var ClickNew = function () {
            window.location.href = "Tarifas/Edit";
        }

        var ClickUpdate = function (id) {
            window.location.href = "Tarifas/Edit/" + id;
        }

        var ClickEliminar = function (id) {

            var result = confirm("Esta Seguro que desea eliminar este registro?");

            if (result) window.location.href = "Tarifas/Delete/" + id;

        }
    </script>


}