@model Entity.SalasEntity
@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Salas" : "Nuevo Salas")</h4>

                    <form action="/Salas/Save" method="post">
                        <input type="hidden" name="IdSalas" id="IdSalas" value="@Model.IdSalas" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombreSalas" id="NombreSalas" value="@Model.NombreSalas" required/>
                            <label for="NombreSalas"> Nombre Salas </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="CantidadSalas" id="CantidadSalas" value="@Model.CantidadSalas" required/>
                            <label for="CantidadSalas"> Cantidad Salas </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="EstadoSalas" name="EstadoSalas" @(Model.EstadoSalas ? "checked" : "")>
                            <label class="form-check-label" for="EstadoSalas">
                                Estado Salas
                            </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>