@model List<Entity.SalasEntity>

<div class="container-fluid">
    <h1>Salas</h1>
    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-15">
            <table id="GridSalas" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Salas</th>
                        <th>Nombre Salas</th>
                        <th>Cantidas Salas</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdSalas</td>
                            <td>@item.NombreSalas</td>
                            <td>@item.CantidadSalas</td>
                            <td>@(item.EstadoSalas ? "Activo" : "Inactivo")</td>


                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdSalas)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdSalas)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Eliminado!',
                'Su registro a sido Eliminado.',
                'success'
            );
            var IsLoading = false;</script>
    }
    else
    {
        <script>var IsLoading = true;</script>
    }

    <script src="~/Scripts/Salas/Index.js"></script>
}