@model Entity.ClienteInformacionAdministrativaEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Cliente Informacion Administrativa" : "Nuevo Cliente Informacion Administrativa")</h4>

                    <form action="/ClienteInformacionAdministrativa/Save" method="post">
                        <input type="hidden" name="IdClienteInformacionAdmin" id="IdClienteInformacionAdmin" value="@Model.IdClienteInformacionAdmin" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="Tarifa" id="Tarifa" value="@Model.Tarifa" required />
                            <label for="Tarifa"> Tarifa </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="SesionesRayosUVA" id="SesionesRayosUVA" value="@Model.SesionesRayosUVA" required/>
                            <label for="SesionesRayosUVA"> Sesiones Rayos UVA </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" name="FechaProximaRenovacion" id="FechaProximaRenovacion" value="@Model.FechaProximaRenovacion" required />
                            <label for="Apellido2Bebe"> Fecha Proxima Renovacion </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="Casillero" id="Casillero" value="@Model.Casillero" required/>
                            <label for="Casillero"> Casillero </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="SaldoMonederoVirtual" id="SaldoMonederoVirtual" value="@Model.SaldoMonederoVirtual" required />
                            <label for="SaldoMonederoVirtual"> Saldo Monedero Virtual </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="TieneHijos" name="TieneHijos" @(Model.TieneHijos ? "checked" : "")>
                            <label class="form-check-label" for="TieneHijos">
                                ¿Tiene Hijos?
                            </label>
                        </div>

                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}


                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>

