@model Entity.BebeEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Bebe" : "Nuevo Bebe")</h4>

                    <form action="/Bebe/Save" method="post">
                        <input type="hidden" name="IdBebe" id="IdBebe" value="@Model.IdBebe" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombreBebe" id="NombreBebe" value="@Model.NombreBebe" />
                            <label for="NombreBebe"> Nombre Bebe </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Apellido1Bebe" id="Apellido1Bebe" value="@Model.Apellido1Bebe" />
                            <label for="Apellido1Bebe"> Apellido 1 Bebe </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="Apellido2Bebe" id="Apellido2Bebe" value="@Model.Apellido2Bebe" />
                            <label for="Apellido2Bebe"> Apellido 2 Bebe </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombrePadreMadreBebe" id="NombrePadreMadreBebe" value="@Model.NombrePadreMadreBebe" />
                            <label for="NombrePadreMadreBebe"> Nombre Padre Madre Bebe  </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" name="FechaNacimientoBebe" id="FechaNacimientoBebe" value="@Model.FechaNacimientoBebe" />
                            <label for="FechaNacimientoBebe"> Fecha Nacimiento Bebe  </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="InscripcionClasesBebe" id="InscripcionClasesBebe" value="@Model.InscripcionClasesBebe" />
                            <label for="InscripcionClasesBebe"> Inscripcion Clases Bebe </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="number" name="AforoDisponibleBebe" id="AforoDisponibleBebe" value="@Model.AforoDisponibleBebe" />
                            <label for="AforoDisponibleBebe"> Aforo Disponible Bebe </label>
                        </div>

                  
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="EstadoBebe" name="EstadoBebe" @(Model.EstadoBebe ? "checked" : "")>
                            <label class="form-check-label" for="EstadoBebe">
                                Estado Bebé
                            </label>
                        </div>

                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}


                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>