@model Entity.ProveedoresEntity
@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Provedores" : "Nuevo Proveedor")</h4>

                    <form action="/Proveedores/Save" method="post">
                        <input type="hidden" name="IdProveedores" id="IdProveedores" value="@Model.IdProveedores" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="NombreProveedores" id="NombreProveedores" value="@Model.NombreProveedores" required/>
                            <label for="NombreProveedores"> Nombre Proveedores </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="TelefonoProveedores" id="TelefonoProveedores" value="@Model.TelefonoProveedores" required/>
                            <label for="TelefonoProveedores"> Telefono Proveedores </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="email" name="CorreoProveedores" id="CorreoProveedores" value="@Model.CorreoProveedores" required/>
                            <label for="CorreoProveedores"> Correo Proveedores </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="EstadoProveedores" name="EstadoProveedores" @(Model.EstadoProveedores ? "checked" : "")>
                            <label class="form-check-label" for="EstadoProveedores">
                                Estado Proveedores
                            </label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>