@model List<Entity.ProveedoresEntity>

<div class="container-fluid">
    <h1>Proveedores</h1>
    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-15">
            <table id="GridProveedores" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Proveedores</th>
                        <th>Nombre Proveedores</th>
                        <th>Telefono Proveedores</th>
                        <th>Correo Proveedores</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdProveedores</td>
                            <td>@item.NombreProveedores</td>
                            <td>@item.TelefonoProveedores</td>
                            <td>@item.CorreoProveedores</td>
                            <td>@(item.EstadoProveedores ? "Activo" : "Inactivo")</td>


                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdProveedores)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdProveedores)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">

</div>

@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Eliminado!',
                'Su registro a sido Eliminado.',
                'success'
            );
            var IsLoading = false;</script>
    }
    else
    {
        <script>var IsLoading = true;</script>
    }

    <script src="~/Scripts/Proveedores/Index.js"></script>
}