@model Entity.ClasesEntity

@{
    var TypeForm = ViewBag.Form as bool?;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Clases" : "Nuevo Clases")</h4>

                    <form action="/Clases/Save" method="post">
                        <input type="hidden" name="IdClases" id="IdClases" value="@Model.IdClases" />

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="SalaImpartidaClases" id="SalaImpartidaClases" value="@Model.SalaImpartidaClases" required />
                            <label for="SalaImpartidaClases"> Sala Impartida Clases </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="date" name="DiaDeLaSemanaClases" id="DiaDeLaSemanaClases" value="@Model.DiaDeLaSemanaClases" required />
                            <label for="DiaDeLaSemanaClases"> Dia De La Semana Clases </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="time" name="HoraDeComienzoClases" id="HoraDeComienzoClases" value="@Model.HoraDeComienzoClases" required />
                            <label for="HoraDeComienzoClases"> Hora De Comienzo Clases </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="ActividadImpartidaClases" id="ActividadImpartidaClases" value="@Model.ActividadImpartidaClases" required />
                            <label for="ActividadImpartidaClases"> Actividad Impartida Clases </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="ProfesorResponsableClases" id="ProfesorResponsableClases" value="@Model.ProfesorResponsableClases" required />
                            <label for="ProfesorResponsableClases"> Profesor Responsable de Clases </label>
                        </div>

                        <div class="form-check form-group">
                            <input class="form-check-input" type="checkbox" id="EstadoClases" name="EstadoClases" v-model="model.EstadoClases" />
                            <label class="form-check-label" for="EstadoClases">
                                Estado Clases
                            </label>
                        </div>

                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="submit" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>