@model WebProyecto.Models.ClienteEdit
@using Newtonsoft.Json;
@{ var TypeForm = ViewBag.Form as bool?; }

<model data-entity="@JsonConvert.SerializeObject(Model.cliente)" />
<div id="ClienteEdit" class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Cliente" : "Nuevo Cliente")</h4>

                    <form id="FormCliente" action="/Cliente/Save" method="post">
                        <input type="hidden" name="IdCliente" id="IdCliente" v-model="model.IdCliente" />

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="Idbebe" name="Idbebe" aria-label="Default select example" v-model="model.Idbebe" required>
                                @foreach (var item in Model.ddlbebe)
                                {
                    <option value="@item.IdBebe">@item.NombreBebe</option>
}
                            </select>
                            <label for="IdClases"> Nombre Bebe</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="IdClases" name="IdClases" aria-label="Default select example" v-model="model.IdClases" required>
                                @foreach (var item in Model.ddlclases)
                                {
                    <option value="@item.IdClases">@item.ProfesorResponsableClases</option>
}
                            </select>
                            <label for="IdClases"> Profesor</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="IdSala" name="IdSala" aria-label="Default select example" v-model="model.IdSala" required>
                                @foreach (var item in Model.ddlsalas)
                                {
                    <option value="@item.IdSalas">@item.NombreSalas</option>
}
                            </select>
                            <label for="IdProductos"> Nombre de Sala</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="IdTarifa" name="IdTarifa" aria-label="Default select example" v-model="model.IdTarifa" required>
                                @foreach (var item in Model.ddltarifas)
                                {
                    <option value="@item.IdTarifa">@item.Tarifas</option>
}
                            </select>
                            <label for="IdTarifa"> Tarifa</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="IdProductos" name="IdProductos" aria-label="Default select example" v-model="model.IdProductos" required>
                                @foreach (var item in Model.ddlproductos)
                                {
                    <option value="@item.IdProductos">@item.ProductosConsumidos</option>}
                            </select>
                            <label for="IdProductos"> Productos</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreCliente" id="NombreCliente" v-model="model.NombreCliente" required />
                            <label for="NombreCliente"> Nombre Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido1Cliente" id="Apellido1Cliente" v-model="model.Apellido1Cliente" required />
                            <label for="Apellido1Cliente"> Apellido 1 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido2Cliente" id="Apellido2Cliente" v-model="model.Apellido2Cliente" required />
                            <label for="Apellido2Cliente"> Apellido 2 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DireccionCliente" id="DireccionCliente" v-model="model.DireccionCliente" required />
                            <label for="DireccionCliente"> Direccion</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="FechaNacimientoCliente" id="FechaNacimientoCliente" v-model="model.FechaNacimientoCliente" required />
                            <label for="FechaNacimientoCliente"> Fecha Nacimiento Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="TelefonoCliente" id="TelefonoCliente" v-model="model.TelefonoCliente" required />
                            <label for="Telefono"> Telefono</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DNICliente" id="DNICliente" v-model="model.DNICliente" required />
                            <label for="DNICliente"> DNI Cliente</label>
                        </div>

                        <div class="form-check form-group">
                            <input class="form-check-input" type="checkbox" id="EstadoCliente" name="EstadoCliente" v-model="model.EstadoCliente" />
                            <label class="form-check-label" for="EstadoCliente">
                                Estado Cliente
                            </label>
                        </div>

                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                    <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                else
                {
                    <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}


                        </div>
                    </form>
</div>

            </div>

        </div>

    </div>
</div>


@section scripts{

    <script src="~/Scripts/Cliente/Edit.js"></script>

}
