@model WebProyecto.Models.ClienteEdit
@using Newtonsoft.Json;
@{ var TypeForm = ViewBag.Form as bool?; }

<model data-entity="@JsonConvert.SerializeObject(Model.cliente)" />
<div id="ClienteEdit" class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Cliente": "Nuevo Cliente")</h4>

                    <form id="FormCliente">
                        <input type="hidden" name="IdCliente" id="IdCliente" v-model="model.IdCliente" />
                        <input type="hidden" name="IdClienteInformacionAdmin" id="IdClienteInformacionAdmin" v-model="model.IdClienteInformacionAdmin" />

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DNICliente" id="DNICliente" v-model="model.DNICliente" required />
                            <label for="DNICliente"> Nombre Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreCliente" id="NombreCliente" v-model="model.NombreCliente" required />
                            <label for="NombreCliente"> DNI Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido1Cliente" id="Apellido1Cliente" v-model="model.Apellido1Cliente" required />
                            <label for="Apellido1Cliente"> Apellido 1 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido2Cliente" id="Apellido2Cliente" v-model="model.Apellido2Cliente" required />
                            <label for="Apellido2Cliente"> Apellido 2 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DireccionCliente" id="DireccionCliente" v-model="model.DireccionCliente" required />
                            <label for="DireccionCliente"> Direccion Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="date" name="FechaNacimientoCliente" id="FechaNacimientoCliente" v-model="model.FechaNacimientoCliente" required />
                            <label for="FechaNacimientoCliente"> Fecha Nacimiento Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="tel" name="TelefonoCliente" id="TelefonoCliente" v-model="model.TelefonoCliente" required />
                            <label for="TelefonoCliente"> Telefono Cliente</label>
                        </div>

                        <div class="form-check form-group">
                            <input class="form-check-input" type="checkbox" id="EstadoCliente" name="EstadoCliente" v-model="model.EstadoCliente" />
                            <label class="form-check-label" for="EstadoCliente">
                                Estado Cliente
                            </label>
                        </div>
                        <br />

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="SesionesRayosUVA" name="SesionesRayosUVA" aria-label="Default select example" v-model="model.SesionesRayosUVA" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                    <option value="@item.IdClienteInformacionAdmin">@item.SesionesRayosUVA</option>
}
                            </select>
                            <label for="SesionesRayosUVA"> Sesiones Rayos UVA</label>
                        </div>
                        <br />

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="FechaProximaRenovacion" name="FechaProximaRenovacion" aria-label="Default select example" v-model="model.FechaProximaRenovacion" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                    <option value="@item.IdClienteInformacionAdmin">@item.FechaProximaRenovacion</option>
}
                            </select>
                            <label for="FechaProximaRenovacion"> Fecha Proxima Renovacion</label>
                        </div>
                        <br />

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="Casillero" name="Casillero" aria-label="Default select example" v-model="model.Casillero" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                    <option value="@item.IdClienteInformacionAdmin">@item.Casillero</option>
}
                            </select>
                            <label for="Casillero"> Casillero</label>
                        </div>
                        <br />

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="SaldoMonederoVirtual" name="SaldoMonederoVirtual" aria-label="Default select example" v-model="model.SaldoMonederoVirtual" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                    <option value="@item.IdClienteInformacionAdmin">@item.SaldoMonederoVirtual</option>
}
                            </select>
                            <label for="SaldoMonederoVirtual">Saldo Monedero Virtual</label>
                        </div>
                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                    <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                else
                {
                    <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}


                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>


@section scripts{


    <script src="~/Scripts/Cliente/Edit.js"></script>

}

