@model WebProyecto.Models.ClienteEdit
@using Newtonsoft.Json;
@{ var TypeForm = ViewBag.Form as bool?; }

<model data-entity="@JsonConvert.SerializeObject(Model.cliente)" />
<div id="ClienteEdit" class="container">

    <div class="row">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@(TypeForm.Value ? "Editar Cliente" : "Nuevo Cliente")</h4>

                    <form id="FormCliente">
                        <input type="hidden" name="IdCliente" id="IdCliente" v-model="model.IdCliente" />

                        <input type="hidden" name="IdTarifas" id="IdTarifas" v-model="model.IdTarifas" />

                        <input type="hidden" name="IdClienteInformacionAdmin" id="IdClienteInformacionAdmin" v-model="model.IdClienteInformacionAdmin" />

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="NombreCliente" id="NombreCliente" v-model="model.NombreCliente" required />
                            <label for="NombreCliente"> Nombre Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido1Cliente" id="Apellido1Cliente" v-model="model.Apellido1Cliente" required />
                            <label for="Apellido1Cliente"> Apellido 1 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="Apellido2Cliente" id="Apellido2Cliente" v-model="model.Apellido2Cliente" required />
                            <label for="Apellido2Cliente"> Apellido 2 Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="DireccionCliente" id="DireccionCliente" v-model="model.DireccionCliente" required />
                            <label for="DireccionCliente"> Direccion Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="FechaNacimientoCliente" id="FechaNacimientoCliente" v-model="model.FechaNacimientoCliente" required />
                            <label for="FechaNacimientoCliente"> Fecha Nacimiento Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <input class="form-control" type="text" name="TelefonoCliente" id="TelefonoCliente" v-model="model.TelefonoCliente" required />
                            <label for="TelefonoCliente"> Telefono Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="EstadoCliente" name="EstadoCliente" aria-label="Default select example" v-model="model.EstadoCliente" required>

                                <option value="A">Activo</option>
                                <option value="I">Inactivo</option>
                            </select>
                            <label for="EstadoCliente">Estado Cliente</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="Tarifa" name="Tarifa" aria-label="Default select example" v-model="model.IdTarifa" required>
                                @foreach (var item in Model.ddltarifas)
                                {
                                    <option value="@item.IdTarifa">@item.Tarifas</option>
                                }
                            </select>
                            <label for="Empresa"> Tipo de Tarifa</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="ClienteInformacionAdministrativa" name="ClienteInformacionAdministrativa" aria-label="Default select example" v-model="model.ClienteInformacionAdministrativa" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                                    <option value="@item.IdClienteInformacionAdmin">@item.SesionesRayosUVA</option>
                                }
                            </select>
                            <label for="ClienteInformacionAdministrativa"> Sesiones Rayos UVA</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="ClienteInformacionAdministrativa" name="ClienteInformacionAdministrativa" aria-label="Default select example" v-model="model.ClienteInformacionAdministrativa" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                                    <option value="@item.IdClienteInformacionAdmin">@item.FechaProximaRenovacion</option>
                                }
                            </select>
                            <label for="ClienteInformacionAdministrativa"> Fecha Próxima Renovación</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="ClienteInformacionAdministrativa" name="ClienteInformacionAdministrativa" aria-label="Default select example" v-model="model.ClienteInformacionAdministrativa" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                                    <option value="@item.IdClienteInformacionAdmin">@item.Casillero</option>
                                }
                            </select>
                            <label for="ClienteInformacionAdministrativa"> Casillero</label>
                        </div>

                        <div class="form-floating mb-3 form-group">
                            <select class="form-select" id="ClienteInformacionAdministrativa" name="ClienteInformacionAdministrativa" aria-label="Default select example" v-model="model.ClienteInformacionAdministrativa" required>
                                @foreach (var item in Model.ddlclienteinformacionadministrativa)
                                {
                                    <option value="@item.IdClienteInformacionAdmin">@item.SaldoMonederoVirtual</option>
                                }
                            </select>
                            <label for="ClienteInformacionAdministrativa"> Saldo Monedero Virtual</label>
                        </div>

                        <br />
                        <div class="mb-3">
                            @if (TypeForm.Value)
                            {
                                <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-edit-alt'></i></button> }
                            else
                            {
                                <button type="button" @@click="Save" class="btn btn-outline-primary"><i class='bx bx-save'></i></button>}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Cliente/"></script>
}