@model List<Entity.ClienteEntity>

<div class="container-fluid">
    <h1>Clientes</h1>
    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-15">
            <table id="GridCliente" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id Cliente</th>
                        <th>Tarifa</th>
                        <th>ClienteInformacionAdministrativa</th>
                        <th>Nombre Cliente</th>
                        <th>Apellido 1</th>
                        <th>Apellido 2</th>
                        <th>Direccion</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Tarifa</th>
                        <th>Sesiones Rayos UVA</th>
                        <th>Fecha Proxima Renovación</th>
                        <th>Casillero</th>
                        <th>Saldo Monedero Virtual</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdCliente</td>
                            <td>@item.Tarifas.IdTarifa</td>
                            <td>@item.ClienteInformacionAdministrativa.IdClienteInformacionAdmin</td>
                            <td>@item.NombreCliente</td>
                            <td>@item.Apellido1Cliente</td>
                            <td>@item.Apellido2Cliente</td>
                            <td>@item.DireccionCliente</td>
                            <td>@item.FechaNacimientoCliente</td>
                            <td>@item.TelefonoCliente</td>
                            <td>@item.EstadoCliente ? "Activo" : "Inactivo")</td>
                            <td>@item.Tarifas.Tarifas</td>
                            <td>@item.ClienteInformacionAdministrativa.SesionesRayosUVA</td>
                            <td>@item.ClienteInformacionAdministrativa.FechaProximaRenovacion</td>
                            <td>@item.ClienteInformacionAdministrativa.Casillero</td>
                            <td>@item.ClienteInformacionAdministrativa.SaldoMonederoVirtual</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdCliente)"><i class='bx bx-edit-alt'></i></button>
                                <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdCliente)"><i class='bx bx-trash'></i></button>
                            </td>
                        </tr>
}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="root">
</div>

@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Eliminado!',
                'Su registro a sido Eliminado.',
                'success'
            );
            var IsLoading = false;
        </script>
 }
    else
    {
        <script>
            var IsLoading = true;
        </script>
}

    <script src="~/Scripts/Cliente/Index.js"></script>
}