@model List<Entity.PedidosEntity>


<div class="container-fluid">
    <br />
    <h1>Pedidos</h1>
    <br />
    <div class="row">

        <div class="col-3">
            <button type="button" class="btn btn-outline-primary" onclick="ClickNew()"><i class='bx bx-add-to-queue'></i></button>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-12">
            <table id="GridPedidos" class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Fecha Compra</th>
                        <th>Fecha Recepcion</th>
                        <th>Monto Compra</th>
                        <th>Cantidad Unidades</th>
                        <th>Fecha Caducidad</th>
                        <th>Motivo Devolucion</th>
                        <th>Nombre Productos</th>
                        <th>Sesiones Rayos UVA</th>
                        <th>Renovacion Cuota</th>
                        <th>Productos Consumidos</th>
                        <th>Compra Proveedores</th>
                        <th>Accion</th>
                        <th>Estado Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Descripcion</td>
                        <td>@item.FechaCompra</td>
                        <td>@item.FechaRecepcion</td>
                        <td>@item.MontoCompra</td>
                        <td>@item.CantidadUnidades</td>
                        <td>@item.FechaCaducidad</td>
                        <td>@item.MotivoDevolucion</td>
                        <td>@item.Productos.NombreProductos</td>
                        <td>@item.Productos.SesionesRayosUVA</td>
                        <td>@item.Productos.RenovacionCuota</td>
                        <td>@item.Productos.ProductosConsumidos</td>
                        <td>@item.Productos.CompraProveedores</td>
                        <td>@(item.EstadoPedidos ? "Activo" : "Inactivo")</td>
                        <td>
                            <button type="button" class="btn btn-outline-primary" onclick="ClickUpdate(@item.IdPedidos)"><i class='bx bx-edit-alt'></i></button>
                            <button type="button" class="btn btn-outline-primary" onclick="ClickEliminar(@item.IdPedidos)"><i class='bx bx-trash'></i></button>
                        </td>
                    </tr>
                    }
                </tbody>


            </table>
        </div>

    </div>

</div>



<div id="root">

</div>




@section scripts{
    @if (ViewData.ContainsKey("msg"))
    {
        <script>
            Swal.fire(
                'Eliminado!',
                'Su registro a sido Eliminado.',
                'success'
            );
            var IsLoading = false;
        </script>
    }
    else
    {
        <script>
            var IsLoading = true;
        </script>
    }

    <script src="~/Scripts/Pedidos/Index.js"></script>

}